<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class ="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date Creation</th>
                         <th>auteurs</th> 
                    </tr>
                </thead>
                <tbody *ngFor="let livre of livres">
                    <tr>
                        <td>{{livre.idLivre}}</td>
                        <td>{{livre.nomLivre}}</td>
                        <td>{{livre.prixLivre}}</td>
                        <td>{{livre.dateCreation |date:'dd/MM/yyyy'}}</td>
                         <td>{{livre?.auteur?.nomAut}}   </td> 
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerLivre(livre)">Supprimer</a>
                  </td>
                  <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateLivre',livre.idLivre]">Modifier</a></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>